@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: Lato;
    src: url(Lato-Regular.ttf);
}

.root{
    -fx-font-family:"Lato";
}

#AnchorPane{
    -fx-border-width: 2px;   
    -fx-background-color: transparent;

}

#panel{       
    -fx-background-color: rgba(255,255,255,0.7);
    -fx-border-color: gray;
    -fx-border-width: 1px;


}
#ButtonPrincipalSalir{    

    -fx-padding: 0px;
    -fx-border-width:1px;
    -fx-border-color:#a94442;
}

#ButtonPrincipalSalir:hover {
    -fx-background-color:#f2dede;
    -fx-text-fill:#a94442;
    
}

#ButtonPrincipalUsuario{    

    -fx-padding: 0px;
    -fx-border-width:1px;
    -fx-border-color:#31708f;
}

#ButtonPrincipalUsuario:hover {
    -fx-background-color:#d9edf7;
    -fx-text-fill:#31708f;
    
}

#AnchorModal{ 
    -fx-background-color: white;

}

#labelCancelarTiempo{
    -fx-font-size:40px;
    -fx-text-fill: #5f5f5f;
}


#labelRenovarTiempo{    
    -fx-font-size:30px;
}
#combo{
    -fx-font-size:15px;                      
}
Button{
    -fx-font-size:12px;
    -fx-background-color: #fff;
    
    -fx-border-color: #ccc;
    -fx-border-radius: 10px;
    -fx-background-radius:100px; 
    -fx-border-width:2px;
    


}

#cabecera{
    -fx-background-color: #4f5b66;

}
#lblLugarEquipo{
    -fx-font-family: "Roboto";
}

#lblTiempo{
    -fx-font-family: "Roboto";
    -fx-font-size:60px;
    
    
}


