@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}

#labelCancelarTiempo{
        -fx-font:30px "Roboto" ;                       
}

#AnchorPane{
   -fx-border-width: 2px;   
   -fx-background-color: transparent;
    
}
#Tiempo{
    -fx-font:68px "Lato" ;                       
    -fx-text-fill: #3992f7;
    -fx-alignment: CENTER;   
}

#labelRenovarTiempo{    
    -fx-font:30px "Roboto" ;                       
}
#combo{
    -fx-font:15px "Roboto" ;                       
}


Button{
 -fx-font: "Roboto" ;                          
 
}



